@charset "UTF-8";

/* listras de zebra */
tr:nth-child(even) {
	background: #6CA6CD;
}

table{
	width: 500px;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #444;
	text-align:center;
	vertical-align:middle
}

h1 {
	color: #0048AA;
	text-align: left;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* links de ação */
a.action {
	font-family: sans-serif;
}
